/* GOOGLE FONTS */

 @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
 body, html {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Montserrat', sans-serif;
     overflow-x: hidden;
     scroll-behavior: smooth;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: auto;
}
 ::-webkit-scrollbar {
     width: 10px;
}
/* Track */
 ::-webkit-scrollbar-track {
     box-shadow: inset 0 0 5px grey;
}
/* Handle */
 ::-webkit-scrollbar-thumb {
    background-image: url(https://cdn.pixabay.com/photo/2017/03/02/16/54/iceland-2111811_640.jpg);
    border-radius: 20px;
}
 #preloader {
    /* background: url('');
     */
     background: #000;
}
/* Preloader */
 .container-preloader {
     align-items:center;
     cursor:none;
     display:flex;
     height: 100%;
     justify-content: center;
     position: fixed;
     left:0;
     top:0;
     width:100%;
     z-index:900;
    /* background-image: url(https://cdn.pixabay.com/photo/2017/07/03/20/17/abstract-2468874_960_720.jpg); */

    /* background-color: #000 !important;
     */
}
 .container-preloader .animation-preloader {
     position:absolute;
     z-index: 100;
}
/* Spinner Loading */
 .container-preloader .animation-preloader .spinner {
     animation: spinner 1s infinite linear;
     border-radius: 50%;
     border: 10px solid rgba(0, 0, 0, 0.2);
     border-top-color: blue;
    /* It is not in alphabetical order so that you do not overwrite it */
     border-bottom-color: black;
    /* It is not in alphabetical order so that you do not overwrite it */
     height: 7em;
     margin: 0 auto 3.5em auto;
     width: 7em;
    /* background: #000;
     */
}
/* Loading text */
 .container-preloader .animation-preloader .txt-loading {
     font: bold 3rem 'Montserrat', sans-serif;
     text-align: center;
     user-select: none;
}
 .container-preloader .animation-preloader .txt-loading .characters_pay {
     font-size: 1.8rem;
}
 .container-preloader .animation-preloader .txt-loading .characters_ease:before {
     animation: characters 4s infinite;
     color: blue;
     content: attr(preloader-text);
     left: 0;
     opacity: 0;
     position: absolute;
     top: 0;
     transform: rotateY(-90deg);
}
 .container-preloader .animation-preloader .txt-loading .characters_pay:before {
     animation: characters 10s infinite;
     color: black;
     content: attr(preloader-text);
     left: 0;
     opacity: 0;
     position: absolute;
     top: 0;
     transform: rotateY(-90deg);
     color: black;
}
 .container-preloader .animation-preloader .txt-loading .characters_ease {
     color: rgba(0, 0, 0, 0.2);
     position: relative;
}
 .container-preloader .animation-preloader .txt-loading .characters_pay {
     color: rgba(0, 0, 0, 0.2);
     position: relative;
}
 .container-preloader .animation-preloader .txt-loading .characters_ease:nth-child(2):before {
     animation-delay: 0.2s;
}
 .container-preloader .animation-preloader .txt-loading .characters_ease:nth-child(3):before {
     animation-delay: 0.4s;
}
 .container-preloader .animation-preloader .txt-loading .characters_ease:nth-child(4):before {
     animation-delay: 0.6s;
}
 .container-preloader .animation-preloader .txt-loading .characters_pay:nth-child(2):before {
     animation-delay: 0.8s;
}
 .container-preloader .animation-preloader .txt-loading .characters_pay:nth-child(3):before {
     animation-delay: 1s;
}
 .container-preloader .animation-preloader .txt-loading .characters_pay:nth-child(4):before {
     animation-delay: 1.2s;
}
 .container-preloader .loader-section {
     background-color: #ffffff;
     height: 100%;
     position: fixed;
     top: 0;
     width: calc(50% + 1px);
}
 .container-preloader .loader-section.section-left {
     left: 0;
}
 .container-preloader .loader-section.section-right {
     right: 0;
}
/* Fade effect on loading animation */
 .loaded .animation-preloader {
     opacity: 0;
     transition: 0.3s ease-out;
}
/* Curtain effect */
 .loaded .loader-section.section-left {
     transform: translateX(-101%);
     transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}
 .loaded .loader-section.section-right {
     transform: translateX(101%);
     transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}
/* Animation of the preloader */
 @keyframes spinner {
     to {
         transform: rotateZ(360deg);
    }
}
/* Animation of letters loading from the preloader */
 @keyframes characters {
     0%, 75%, 100% {
         opacity: 0;
         transform: rotateY(-90deg);
    }
     25%, 50% {
         opacity: 1;
         transform: rotateY(0deg);
    }
}
/* Laptop size back (laptop, tablet, cell phone) */
 @media screen and (max-width: 767px) {
    /* Preloader */
    /* Spinner Loading */
     .container-preloader .animation-preloader .spinner {
         height: 8em;
         width: 8em;
    }
    /* Text Loading */
     .container-preloader .animation-preloader .txt-loading {
         font: bold 3.5em 'Montserrat', sans-serif;
    }
}
 @media screen and (max-width: 500px) {
    /* Prelaoder */
    /* Spinner Loading */
     .container-preloader .animation-preloader .spinner {
         height: 7em;
         width: 7em;
    }
    /*Loading text */
     .container-preloader .animation-preloader .txt-loading {
         font: bold 2em 'Montserrat', sans-serif;
    }
}
 .origin{
    text-decoration:none;
     font-size:45px;
}
/* CSS RESET */
 *, *::before, *::after {
     box-sizing: border-box;
}
 h1, h2, h3, h4, h5, h6, p {
     margin: 0;
     padding: 0;
}
 button, .btn {
     font-family: inherit;
}
/* CSS RESET ENDS */
/* NAVIGATION BAR */
 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 20px;
     padding: 0.10rem 5vw ;
     background-color: #8080807a;
}
 nav span {
     color: #0000ff;
     font-size: 2.5rem;
}
 nav p {
     font-size: 1.5rem;
     font-weight: 600;
     cursor: default;
}
 nav li {
     display: flex;
     align-items: center;
     list-style: none;
}
 nav a {
     text-decoration: none;
     color: #000000;
     padding: 0 1rem;
     transition: 0.1s ease-in-out;
     font-size: 18px;
     font-size: 900;
}
 nav a:hover {
     color: #0000ff;
}
 nav .btn {
     box-sizing: border-box;
     background-color: black;
     border: none;
     border-radius: 0.6em;
     cursor: pointer;
     display: flex;
     font-size: 15px;
     font-weight: 500;
     margin: 0;
    padding: 10px 20px;
     text-decoration: none;
     text-align: center;
     text-transform: uppercase;
     outline: none;
     padding: 1rem 2rem;
}
 .btn:hover, .btn:focus {
     color: #fff;
     outline: 0;
}
 .fourth {
     color: #fff;
     background-image: linear-gradient(45deg, #0000ff 50%, transparent 50%);
     background-position: 100%;
     background-size: 400%;
     transition: background 300ms ease-in-out 
}
 .fourth:hover {
     background-position: 0
}
 .btn a:hover{
     color: #fff
}
 .btn a:visited{
     color: #000
}
 .register {
     background-color: #000000;
     color: white;
     border-radius: 5px;
}
 .login {
     background-color: white;
     color: #4caf50;
}
 .login:hover {
     background-color: #4caf50;
     color: white;
     border: 1px solid #4caf50;
     border-radius: 5px;
}
 .button {
     position: relative;
     margin: 0px auto;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     color: #fff !important;
     padding-left: 10px;
}
 .radio {
     position: absolute;
     opacity: 0;
     width: 100%;
     height: 100%;
     z-index: 3;
     cursor: pointer;
}
 .button a {
     text-decoration: none;
     text-align: center;
     padding: 15px 20px 15px 20px;
     background: linear-gradient(90deg, #008000 50%, #0000ff 50%) no-repeat;
     background-position: right center;
     background-size: 200% 100%;
     border-radius: 6px;
     overflow: hidden;
     box-shadow: 0 2px 14px rgba(0,0,0,0.3);
     transition: all 0.3s ease;
     color: #fff;
}
 .button a:hover, .radio:hover + a {
     transform: translateY(-2px);
     box-shadow: 0 8px 20px rgba(0,0,0,0.3);
     transition: all 0.3s ease;
}
 .button a:active {
     box-shadow: none;
     transform: scale(0.95);
     transition: all 0.3s ease;
}
 .open {
     display: none;
}
 .radio:checked ~ a {
     animation: loading 5s linear forwards 1;
}
 .radio:checked + .download {
     display: none;
}
 .radio:checked ~ .open {
     display: block;
}
 @keyframes loading {
     0% {
         height: 100%;
         padding: 20px;
         background-position: right center;
         color: transparent;
         box-shadow: none;
         pointer-events: none;
    }
     2% {
         height: 5px;
         padding: 0 20px;
         color: transparent;
         pointer-events: none;
    }
     95% {
         height: 5px;
         padding: 0 20px;
         background-position: left center;
         color: transparent;
         pointer-events: none;
    }
     100% {
         height: 100%;
         padding: 18px 20px;
         background-position: left center;
         color: #FFF;
         box-shadow: 0 5px 20px rgba(0,0,0,0.3);
         z-index: 4;
         pointer-events: auto;
    }
}
 .copy {
     position: absolute;
     bottom: 5vh;
     left: 50%;
     transform: translateX(-50%);
     color:#fff;
}
 .hero_background {
     height: 86vh;
    /* justify-content: start;
     */
     align-items: center;
     margin: 0;
     padding: 0;
     background-color: #8080807a;
}
 .hero_content {
     display: flex;
}
 .wrapper {
     padding: 50px 32vw 0px 4vw;
}
 h1 {
     font-size: 4rem;
     text-align: left;
}
 .title {
    background-image: url(https://cdn.pixabay.com/photo/2017/03/02/16/54/iceland-2111811_640.jpg);
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
 .title-2 {
     font-size: 1.2rem;
     font-weight: 500;
     padding: 20px 20rem 20px 0px;
}
 .hero_icons {
     width: 35%;
}
 .advertiser-content {
     max-width: 650px;
     position: absolute;
     bottom: 0%;
     right: 0%;
}
 .advertiser {
     width: 100%;
     height: auto;
    /* padding-bottom: 170px;
     */
}
/* whychooseus section codes whychooseus section codes whychooseus section codes whychooseus section codes whychooseus section codes whychooseus section codes */
 .whychooseus_content {
     display: flex;
     justify-content: center;
     padding: 60px 0px 50px 0px;
     align-items: center;
}
 .whychooseus {
     text-align: center;
     padding: 0px 250px;
}
 .whychooseus h3 {
     font-size: 3rem;
     font-weight: 900;
     text-transform: capitalize;
     padding-bottom: 20px;
}
 .whychooseus p {
     font-size: 1.2rem;
     font-weight: 400;
     text-transform: capitalize;
}
 .whychooseus_content .lines-content {
     display: flex;
     justify-content: center;
}
 .card {
    /* background: red;
     */
     padding: 4px;
     height: 4px;
     border-radius: 50px;
}
 .cards {
     max-width: 1250px;
     margin: 0 auto;
     display: grid;
     gap: 1rem;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
 .red {
     background: #ff0000;
}
 .blue {
     background: #0096FF;
}
 .green {
     background: #008000;
}
 .light:hover {
     transform: scale(1);
     cursor: pointer;
}
 .blue:hover {
     transform: scale(1);
     cursor: pointer;
}
 .dark:hover {
     transform: scale(1.1);
     cursor: pointer;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
}

.container .box {
    max-width: 320px;
    position: relative;
    background: #FFF;
    padding: 100px 20px 100px;
    margin: 50px 0px 50px;
    border-radius: 20px;
    box-shadow: 0 15px 45px rgba(0, 0, 0, .1);
    text-align: center !important;
}

.container .box:hover {
    box-shadow: 0 30px 90px rgba(0, 0, 0, .1);
}

.container .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0096FF;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}

.container .box:hover::before {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
    border-radius: 20px;

}


.container .box img {
    position: absolute;
    left: 100px;
    top: 60px;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
    width: 100px;
    height: 100px;
    border-radius: 50px;
   
}

.container .box:hover img {
    opacity: 1;
    color: #FFF;
    transform: translateY(-40px);
}

.container .box h3 {
    position: relative;
    font-size: 1.5em;
    z-index: 2;
    color: #333;
    transition: 0.5s;
    padding-top: 30px;

}

.container .box p {
    position: relative;
    z-index: 2;
    color: #555;
    transition: 0.5s;
    padding-top: 20px;

}

.container .box:hover h3,
.container .box:hover p {
    color: #FFF;
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 60px 30px;
    }

    .box {
        margin-bottom: 20px;
    }
}
/* The box section codes The box section codes The box section codes The box section codes The box section codes The box section codes The box section codes*/
 .box_container {
     background: transparent;
}
 .box_content {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
     grid-gap: 20px;
     align-items: stretch;
     margin: 70px;
}
 .box_content > div img {
     max-width: 100%;
}
/* finacial_freedom style section finacial_freedom style section finacial_freedom style section finacial_freedom style section finacial_freedom style section*/
 .finacial_freedom {
     position: relative;
     margin: 0;
     padding: 50px 0px 50px 0px;
     background-color: #8080807a;
}
 .finacial_freedom_content {
     display: flex;
     justify-content: space-between;
     align-items: center;
}
 .finacial_freedom_text {
     padding-left: 85px;
}
 .finacial_freedom_text h2 {
     font-size: 3.3rem;
}
 .finacial_freedom_text p {
     font-size: 1.2rem;
     font-weight: 400;
     text-transform: capitalize;
     margin: 30px 35px 40px 0px;
}
 .finacial_freedom .btn0 {
    box-sizing: border-box;
    background-color: black;
    border: none;
    border-radius: 0.6em;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    padding: 1rem 2rem;
}
 .finacial_freedom_img {
     max-width: 400px;
     position: absolute;
     bottom: 0%;
     right: 5%;
}
 .finacial_freedom_advertiser {
     width: 100%;
     height: auto;
}
/* paycard code section slide code section slide code section slide code section slide code section slide code section */
 .slider {
     margin: 0px;
}
 .paycard_container {
     margin: 0px;
     padding: 6rem 0em 0rem 0em;
}
 .paycard_content {
     display: block;
     justify-content: center;
     align-items: center;
     text-align: center;
}
 .slidetext_content {
     text-align: center;
     align-items: center;
     padding: 0px 250px;
}
 .slidetext_content h3 {
     font-size: 3rem;
     font-weight: 00;
     text-transform: capitalize;
     padding-bottom: 20px;
}
 .slidetext_content p {
     font-size: 1.2rem;
     font-weight: 400;
     text-transform: capitalize;
     padding: 20px 0px 50px 0px;
}
 .slide img {
     width: 80px;
     height: 80px;
     animation: scroll 60s linear infinite;
     align-items: center;
     margin-top: 50px;
}


/* .slide img:hover {
    box-shadow: 0 2px 14px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
    cursor: pointer;
} */

 .slide-track {
     width: 100%;
     display: flex;
     gap: 3em;
     overflow: hidden;
}
 @keyframes scroll {
     0% {
        transform: translateX(0);
    }
     100% {
        transform: translatex(-1000%)
    }
}

 @media only screen and (max-width: 412px) {
     .botIcon .Layout-open {
        width: 250px;
    }
}
/* df-messenger {
     --df-messenger-button-titlebar-color: #878fac;
     --df-messenger-chat-background-color: #fafafa;
     --df-messenger-send-icon: #878fac;
}
 */
 a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
}
 a {
     -webkit-transition: all .25s ease-in-out;
     transition: all .25s ease-in-out;
}
 .ct-footer {
     background-color: #8080807a;
     padding: 20px 50px 60px 50px;
     position: relative;
}
 .ct-footer-list {
     padding: 50px 0;
     padding-left: 0;
     display: table;
     width: 100%;
     justify-content: center;
}
 .f-logo {
     margin-top: 30px;
}
 li span {
     color: #0000ff;
     font-size: 2.5rem;
}
 li p {
     font-size: 1.5rem;
     font-weight: 600;
     cursor: default;
}
 .ct-footer-list > li .ct-footer-list-header {
     font-family: 'Open Sans Condensed', sans-serif;
     color: #000000;
     font-size: 30px;
     font-weight: 900;
     text-transform: capitalize;
}
 .ct-footer-list > li ul {
     list-style: none;
     padding-left: 0;
     text-align: none;
}
 .ct-footer-list > li ul li a {
     color: #000000;
     text-transform: capitalize;
     font-size: 20px;
}
 .ct-footer-list > li ul li a:hover, .ct-footer-post a:hover {
     text-decoration: underline;
}
 .ct-footer-post .inner-left, .ct-footer-post .inner-right {
     padding: 20px 0;
}
 .ct-footer-post ul {
     list-style: none;
     padding-left: 0;
     margin: 0 -20px;
}
 .ct-footer-post ul li {
     display: inline-block;
     margin: 0 20px;
}
 .ct-footer-post a {
     color: #000;
}
 .ct-footer-post p {
     color: #000;
}
 .ct-footer-meta {
     padding-top: 30px;
}
/* NAVIGATION BAR ENDS */
/* MEDIA QUERIES - RESPONSIVE LAYOUT */
/* DESKTOP - LAPTOP - TABLET */
 @media screen and (min-width: 850px) {
     nav .small-screens {
         display: none;
    }
}
/* MOBILE */
 @media screen and (max-width: 850px) {
     nav {
         padding: 1rem 5vw;
    }
     nav .small-screens i {
         font-size: 25px;
         cursor: pointer;
    }
     nav .big-screens {
         display: none;
    }
     nav p {
         font-size: 1.8rem;
         font-weight: 400;
    }
    /* hero_background responsiveness section */
     .hero_background {
         height: auto;
         justify-content: start;
         align-items: center;
         margin: 0;
         padding: 40px 0px 0px 0px;
    }
     .hero_content {
         display: block;
         align-items: center;
         padding: 0%;
         margin: 0%;
         justify-content: center;
    }
     .wrapper {
         text-align: left;
         padding: 0px 0vw 0px 0vw;
         margin-left: 20px;
    }

    .title {
        font-size: 2.6rem;
    }

     .title-2 {
         font-size: 1.2rem;
         font-weight: 300;
         padding: 0px;
    }
     .hero_icons {
         width: 20%;
         margin: 0 auto;
         display: block;
         justify-content: center;
         padding: 10px;
    }
     h1 {
         font-size: 2.3rem;
    }
     .hero_icons {
         width: 35%;
    }
     .advertiser-content {
         position: relative;
         display: inline-flex;
         justify-content: center;
         right: 0%;
         bottom: 0%;
         margin: 20px;
    }
    /* whychooseus responsiveness section */
     .whychooseus_content {
         padding: 60px 0px 0px 0px;
         margin: 0%;
    }
     .whychooseus {
         padding: 0px;
    }
     .whychooseus h3 {
         font-size: 2.3rem;
         font-weight: 900;
         text-transform: capitalize;
    }
     .whychooseus p {
         font-size: 1.2rem;
         padding: 20px;
    }
    /* finacial_freedom responsiveness section */
     .finacial_freedom {
         background: none;
    }
     .finacial_freedom_content {
         display: block;
         align-items: center;
         padding: 40px 0px 0px 0px;
         margin: 0%;
         text-align: center;
    }
     .finacial_freedom_text {
         text-align: center;
         padding-left: 20px;
    }
     .finacial_freedom_text h2 {
         text-align: left;
         font-size: 2rem;
    }
     .finacial_freedom_text p {
         text-align: left;
         font-size: 1.2rem;
    }
     .finacial_freedom_img {
         position: relative;
         display: inline-flex;
         justify-content: center;
         right: 0%;
         margin-top: 40px;

    }
    /* cards responsiveness section */
     .cards {
         padding: 20px 8px 20px 8px;
    }
     .slidetext_content {
         text-align: left;
         padding: 20px;
    }
     .slidetext_content h3 {
         font-size: 2rem;
    }
     .slidetext_content p {
         font-size: 1.2rem;
    }
}
 @media only screen and (max-width: 600px) {
     .box_content {
         margin: 0px;
    }
}
/* Media Queries */
 @media (min-width:1200px) {
     .ct-footer-list > li {
         width: 20%;
         display: table-cell;
         vertical-align: top;
    }
     .ct-footer-list > li:last-child {
         width: 7%;
    }
}
 @media (max-width: 1199px) {
     .logo {
         height: 300px;
         width : 300px;
        /* border-radius: 50px;
         */
    }
     .f-logo span {
         font-size: 3rem;
    }
     .ct-footer-list > li {
         display: inline-block;
         float: left;
         padding: 20px;
    }
}
 @media (min-width:992px) {
     .ct-footer-post .inner-left {
         float: left;
    }
     .ct-footer-post .inner-right {
         float: right;
    }
}
 @media (max-width:991px) {
     .ct-footer-post {
         text-align: center;
    }
}
 @media (min-width: 768px) and (max-width: 1199px) {
     .ct-footer-list > li {
         width: 33.3333%;
    }
}
 @media (min-width:768px) {
     .ct-footer-post p {
         display: inline-block;
    }
     .ct-footer-post p + p {
         padding-left: 50px;
    }
}
 @media (max-width:767px) {
     address {
         padding-top: 30px;
    }
}
 @media (min-width: 480px) and (max-width:767px) {
     .ct-footer-list > li {
         width: 50%;
    }
}
 @media (max-width:479px) {
     .ct-footer-list > li {
         width: 100%;
         text-align: center;
    }
     .ct-footer-list {
         padding: 20px 0;
    }
}
 




 